<aside class="h-full bg-white shadow flex flex-col transition-all duration-700 ease-in-out">
  <!-- <aside class="bg-white shadow h-full transition-all duration-500 flex flex-col"> -->

  <div class="flex items-center justify-center p-4 border-b">
    <img src="assets/images/sidebar-icon.png" alt="Logo" class="h-8 w-8 mr-2">
    <span class="text-lg font-bold" *ngIf="!collapsed">AML Portal</span>
  </div>
  <!-- Toggle Button -->
  <div class="flex justify-end p-2">
    <button (click)="toggleSidebar()" class="p-2 hover:bg-gray-100 rounded">
      <!-- Icon changes based on state -->
      <svg *ngIf="!collapsed" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
      </svg>
      <svg *ngIf="collapsed" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
        stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
      </svg>
    </button>
  </div>

  <!-- Menu Items -->
  <ul class="flex-1 p-4 space-y-2">
    <li>
      <a routerLink="/dashboard" class="flex items-center p-2 space-x-2 rounded transition-all duration-150 
                hover:bg-blue-100 hover:text-blue-700 group cursor-pointer">
        <svg class="h-5 w-5 text-gray-600 group-hover:text-blue-700" fill="none" stroke="currentColor" stroke-width="2"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M3 12l2-2m0 0l7-7 7 7M13 5v6h6m-6 0H7m6 0v6" />
        </svg>
        <span *ngIf="!collapsed">Dashboard</span>
      </a>
    </li>
    <li>
      <a routerLink="/main/users/users-list" class="flex items-center p-2 space-x-2 rounded transition-all duration-150 
                hover:bg-blue-100 hover:text-blue-700 group cursor-pointer">
        <svg class="h-5 w-5 text-gray-600 group-hover:text-blue-700" fill="none" stroke="currentColor" stroke-width="2"
          viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M5.121 17.804A8 8 0 0112 16c2.21 0 4.208.895 5.66 2.344M15 11a3 3 0 11-6 0 3 3 0 016 0z" />
        </svg>
        <span *ngIf="!collapsed">Users</span>
      </a>
    </li>
  </ul>
</aside>