<div class="flex h-screen bg-gray-100">
  <!-- <app-sidebar class="w-64 hidden md:block"></app-sidebar> -->
 <div [ngClass]="isSidebarCollapsed ? 'w-20' : 'w-64'" class="transition-all duration-700 ease-in-out">
    <app-sidebar [collapsed]="isSidebarCollapsed" (toggle)="toggleSidebar()"></app-sidebar>
  </div>
  <div class="flex flex-col flex-1">
    <app-navbar></app-navbar>

    <main class="flex-1 p-4 overflow-auto">
      <app-breadcrumb></app-breadcrumb>
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
